html {
  overflow: hidden;
}
body {
  font-size: 100%;
  background-image: url(images/bg5.png);
  font-family: 'Open Sans', sans-serif;
  margin-top: 3%;
}
h1 {
  font-size: 187.5%;
  color: #676761;
  text-align: left;
  float: left;
  font-weight: 100;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  letter-spacing: -1px;
}
h3 {
  text-align: left;
  font-size: 137.5%;
  color: #85857e;
  float: left;
  font-weight: 400;
  margin: -25px 0 0 105px;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  letter-spacing: -1px;
}
.clear {
  clear: both;
}
.vak {
  width: 60em;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}
.header {
  width: 960px;
  height: 90px;
  -webkit-box-shadow: 1px 1px 10px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 10px 4px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 1px 1px 10px 4px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 1px 1px 10px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 10px 4px rgba(0, 0, 0, 0.3);
  margin: 10px 0;
  padding: 0;
}
.menu {
  overflow: hidden;
  position: relative;
  margin: 0 auto 5px;
  padding: 0;
}
.menu ul {
  clear: left;
  float: left;
  list-style: none;
  position: relative;
  left: 50%;
  text-align: center;
  margin: 0;
  padding: 0;
}
.menu ul li {
  float: left;
  list-style: none;
  position: relative;
  right: 50%;
  margin: 0;
  padding: 0;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-transition: border-color 1s ease;
  -moz-transition: border-color 0.5s ease;
  -o-transition: border-color 0.5s ease;
  -ms-transition: border-color 0.5s ease;
  transition: border-color 0.5s ease;
}
.menu ul li a {
  display: block;
  color: #32322f;
  font-size: 118.8%;
  margin: 0;
  padding: 0;
  padding-right: 0.638em;
  padding-left: 0.638em;
}
p {
  font-size: 87.5%;
  text-align: justify;
  margin-top: 7px;
  margin-bottom: 7px;
  color: #333;
  padding: 0;
}
.footervak {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 20px;
}
.footertekst {
  font-size: 81.3%;
  text-align: center;
}
.content {
  height: 570px;
  width: 100%;
  -webkit-box-shadow: 1px 1px 10px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 10px 4px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 1px 1px 10px 4px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 1px 1px 10px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 10px 4px rgba(0, 0, 0, 0.3);
  margin: 15px 0 0;
  padding: 0;
}
.foto {
  float: right;
  width: 350px;
  height: 570px;
}
.links {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.list {
  list-style-type: square;
  color: #333;
  font-size: 87.5%;
}
.list li {
  margin-bottom: 5px;
}
.menu ul li:hover, #index #nav_index, #overmij #nav_overmij, #therapie #nav_therapie, #opvoedingsvragen #nav_opvoedingsvragen, #werkwijze #nav_werkwijze, #reacties #nav_reacties, #links #nav_links, .contact .nav_contact {
  border-top: 1px solid #32322f;
  border-bottom: 1px solid #32322f;
}
a, .link:visited {
  text-decoration: none;
  color: #333;
}
.link:active, .link:hover {
  text-decoration: underline;
  color: #333;
}
.spreukcontainer {
  position: absolute;
  top: 450px;
  width: 570px;
  margin-right: 20px;
}
.spreukcontainer2 {
  position: absolute;
  top: 376px;
  width: 570px;
}
p.spreuk {
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  font-size: 100%;
  padding-bottom: 0;
  margin-bottom: 0;
  padding-left: 20%;
  font-style: italic;
}
p.spreuk2 {
  text-align: right;
  font-family: 'PT Sans', sans-serif;
  font-size: 87.5%;
  padding-top: 0;
  margin-top: 0;
  font-style: italic;
}
hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 0;
}
.tekst {
  width: 570px;
  height: 530px;
  background: #d5cce9;
  padding: 20px;
  position: relative;
}
.logo {
  float: left;
  width: 70px;
  height: 62px;
  padding-right: 15px;
  margin-bottom: 0px;
}
h4 {
  text-align: center;
  font-size: 112.5%;
  font-family: 'PT Sans', sans-serif;
  color: #444;
  letter-spacing: -1px;
  font-weight: 700;
  margin: 15px 0;
  border-bottom: 1px solid #444;
  position: relative;
  margin-bottom: 22px;
}
h4 span {
  background: #d5cce9;
  ;
  padding: 0 15px;
  position: relative;
  top: 10px;
}
table {
  float: right;
  border-style: none;
  width: 65%;
}
.overlay {
  float: right;
  color: #333;
  font-weight: bold;
  position: absolute;
  left: 453px;
  top: 463px;
  background: #f7f7ee;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  -o-border-top-left-radius: 10px;
  -ms-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  padding: 6px 100px 6px 12px;
  font-size: 93.8%;
}
.overlay2 {
  float: left;
  color: #333;
  font-weight: bold;
  position: absolute;
  left: -21px;
  top: 463px;
  background: #f7f7ee;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  -o-border-top-right-radius: 10px;
  -ms-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  padding: 6px 12px 6px 77px;
  font-size: 93.8%;
}
.overlayf {
  display: none;
}
.overlayf2 {
  display: none;
}
#page-wrap {
  width: 570px;
}
.ui-tabs {
  zoom: 1;
}
.ui-tabs .ui-tabs-panel {
  display: block;
  border-width: 0;
  background: none;
  border: 1px solid transparent;
  position: relative;
  height: 473px;
  margin-top: -7px
}
.ui-tabs .ui-tabs-hide {
  display: none !important;
}
a.mover {
  background: transparent;
  padding: 7px 12px 5px 12px;
  position: absolute;
  margin: -21px;
  color: #333;
  font-weight: bold;
  text-decoration: none;
  font-size: 93.8%;
}
.next-tab {
  bottom: 0;
  right: 0;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
}
.prev-tab {
  bottom: 0;
  left: 0;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
}
.invisible {
  display: none;
  visibility: transparent;
}
